@model _23dh111133_BE_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">XÓA SẢN PHẨM</h2>

<h3 class="alert-danger">Bạn thực sự muốn xóa sản phẩm này à?</h3>
@Html.Partial("PVProdInfo", Model)
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        @Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Quay lại trang", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
